.idealist {
	display: block;
	width: 900px;
	margin: 0px auto;
	text-decoration: none;
//	border: 1px #eee;
}

#central {
        width: 850px;
        margin-left: 15%;
}

.idea {
	background-color: lightblue;
	border-top: 5px white;
	display: block;
	padding-bottom: 40px;
	padding-top: 10px;
	padding-left: 10px;
	text-decoration: none;
//	vertical-align: bottom;
}

.idea:hover {
	background-color: lightgreen;
}

.ideaname a {
	text-decoration: none;
	font: 20px sans-serif;
	display: inline;
	color: #000000;
	width: 100%;
	float: left;
	vertical-align: top;
}

.ideaauthor {
	text-decoration: none;
	display: inline;
	float: left;
	font: 10px arial, sans-serif;
	padding-top: 2px;
	padding-left: 2px;
	vertical-align: bottom;
	color: dimgray;
}

.ideaauthor a {
	text-decoration: none;
	color: darkblue;
}

.ideatime {
	text-decoration: none;
	display: block;
	float: left;
	font: 10px arial, sans-serif;
	padding-top: 2px;
	padding-left: 0px;
	vertical-align: bottom;
	display: block;
	color: dimgray;
}

#space {
	height: 2px;
	background-color: white;
}
