.idealist {
	display: block;
	width: 900px;
	margin: 0px auto;
	text-decoration: none;
//	border: 1px #eee;
}

.idea {
	background-color: lightgreen;
	border-top: 5px white;
	display: block;
	padding-bottom: 40px;
	padding-top: 20px;
	padding-left: 10px;
	text-decoration: none;
//	vertical-align: bottom;
}

.ideaname a {
	text-decoration: none;
	font: 20px sans-serif;
	display: inline;
	color: #000000;
	width: 75%;
	float: left;
	vertical-align: center;
}

.ideaauthor a {
	display: inline;
	float: right;
	font: 10px arial, sans-serif;
	padding-right: 15px;
}
#space {
	height: 2px;
	background-color: white;
}
