ul#list-nav {
display: inline;
list-style:none;
padding:3;
}

ul#list-nav-right {
display: inline;
list-style:none;
padding:3;
}

ul#list-nav li {
display:inline;
vertical-align:top;
}

ul#list-nav-right li {
display:inline;
}

ul#list-nav li a {
text-decoration:none;
padding-top: 3px;
padding-left: 10px;
padding-right: 10px;
background:#2D2D2D;
float: left;
color:#eee;
text-align:center;
/*border-left:1px solid #fff;*/
font: 13px/27px Arial, sans-serif;
}

ul#list-nav li#logo a {
text-decoration:none;
padding-top: 3px;
padding-left: 10px;
padding-right: 10px;
background:#2D2D2D;
float: left;
color:#eee;
text-align:center;
/*border-left:1px solid #fff;*/
font: 20px/27px Georgia, sans-serif;
font-weight: bold;
}



ul#list-nav li#logo a:hover {
        color:#ffffff;
        text-decoration:underline;
}


ul#list-nav-right li a {
text-decoration:none;
padding-top: 3px;
padding-left: 10px;
padding-right: 10px;
background:#2D2D2D;
float: right;
color:#eee;
text-align:center;
/*border-left:1px solid #fff;*/
font: 13px/27px Arial, sans-serif;
}


ul#list-nav li a:hover {
background:#999999;
color:#ffffff
}

ul#list-nav-right li a:hover {
background:#999999;
color:#ffffff
}

#header {
        background-color: #2D2D2D;
        background-image: none;
        background-position: 0 -138px;
        background-repeat: repeat-x;
        border-bottom: 1px solid black;
        height: 30px;
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 990;
        box-shadow: #AAA 0 3px 4px 0;
}

