{% extends "index.html" %}

{% block staticstuff %}
	<link rel="stylesheet" type="text/css" href="/static/css/list.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/twitter.css" />
//	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/
ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() 
{

var currentpanel=0;

$('.block').click(function()
{

	var id= $(this).attr('id'); // .block ID
	var data_id= currentpanel; //$(".data").html(); // .data DIV value
	var panel= $('.panel');
	var panel_width=$('.panel').css('left'); // rolling panel width


	if(data_id==id)
	{
		// Rolling Animation
		panel.animate({left: parseInt(panel.css('left'),0) == 0 ? +panel.outerWidth() : 0});
	}
	else
	{
		// panel width CSS width:340px + border:1px = 341px
		if(panel_width=='450px')
		{
			// No rolling animation
		}
		else
		{
			// Rolling Animation
			panel.animate({left: parseInt(panel.css('left'),0) == 0 ? +panel.outerWidth() : 0});
		}
	}
	// passing id value to <div class='data'$gt; </div>
	$.ajax({
		url: '/testthisajax/',
		success: function(data) {
			$('.data').html(data);
		}
	});
	//$('.data').html(id);
	currentpanel = id;
	return false;
});

// panel close link
$('.close').click(function() 
{
	var panel= $('.panel');
	panel.animate({left: parseInt(panel.css('left'),0) == 0 ? +panel.outerWidth() : 0});
	return false;
});

});
</script>













{% endblock %}

{% block content %}
<div id="central">  
<div>&nbsp;</div>
  {{ variable }}
  <div class="idealist">
  {% for idea in listofideas %}
	<div id="space">
	</div>
	<div class="idea">
		<div class="ideaname">
			<a href="/idea/{{ idea.pk }}">{{ idea.ideaname }}</a>
		</div>
		<div class="ideatime">
			{{ idea.created_at|timesince }} ago
		</div>
		<div class="ideaauthor">
			- <a href="/user/{{ idea.author.pk }}">{{ idea.author.name }}</a>
		</div>
	</div>
  {% endfor %}
  </div>

<div id='container'>
<div class='right'>
It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
</div>

<div id="panel-frame">
<div class="panel">
<div class="head"> <a href="#" class="close">Close</a></div>
<div class="data">
</div>
</div>
</div>
<div class="left">
{% for idea in listofideas %}
<div class="block" id="{{ idea.pk }}">
	<div id="space"></div>
	<div class="idea">
		<div class="ideaname">
			<a href="/idea/{{ idea.pk }}">{{ idea.ideaname }}</a>
		</div>
		<div class="ideatime">
			{{ idea.created_at|timesince }} ago
		</div>
		<div class="ideaauthor">
			 - <a href="/user/{{ idea.author.pk }}">{{ idea.author.name }}</a>
		</div>
	</div>
</div>
{% endfor %}
</div>
</div>
</div>
{% endblock %}

{% block afterbody %}
{% endblock %}
