{% extends "index.html" %}

{% block staticstuff %}
        <link rel="stylesheet" type="text/css" href="/static/css/list.css" />
{% endblock %}

{% block content %}
	<div id="central">
	<div>&nbsp;</div>
	<div class="idea">
                <div class="ideaname">
                        <a href="/idea/{{ currentidea.pk }}">{{ currentidea.ideaname }}</a>
                </div>
                <div class="ideatime">
                        {{ currentidea.created_at|timesince }} ago
                </div>
                <div class="ideaauthor">
                        - <a href="/user/{{ currentidea.author.pk }}">{{ currentidea.author.name }}</a>
                </div>
        </div>
	<div id="space">
	</div>
	<div class="ideadescription">
		<div class="ideadescriptiontext">
			{{ currentidea.ideadescription }}
		</div>
	</div>

	</div>

{% endblock %}

