{% extends "index.html" %}

{% block staticstuff %}
        <link rel="stylesheet" type="text/css" href="/static/css/list.css" />
{% endblock %}

{% block content %}
  <div>&nbsp;</div>
  <img src="https://graph.facebook.com/{{ currentprofile.fbid }}/picture?type=large"/>
<p>&nbsp;</p>
  {{ currentauthor.name }}
<p>&nbsp;</p>
<div>{{ listofideas.size }} Public Ideas</div>
  <div class="idealist">
  {% for idea in listofideas %}
        <div id="space">
        </div>
        <div class="idea">
                <div class="ideaname">
                        <a href="/idea/{{ idea.pk }}">{{ idea.ideaname }}</a>
                </div>
                <div class="ideaauthor">
                        <a href="/user/{{ idea.author.pk }}">{{ idea.author.name }}</a>
                </div>
        </div>
  {% endfor %}
  </div>


{% endblock %}

